<header class="site-header header-style-two header-style-five">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Site Navigation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="site-navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="navbar navbar-expand-lg navigation-area">
                        <div class="site-logo-block">
                            <a class="navbar-brand site-logo" href="index.html">
                                <img src="{{ asset('assets/images/logo/footer-logo-black.png') }}" alt="logo">
                            </a>  
                        </div><!--~./ site-logo-block ~-->
                        <div class="mainmenu-area">
                            <nav class="menu">
                                <ul id="nav">
                                    <li class="dropdown-trigger"><a href="#">Home</a>
                                        <ul class="dropdown-content">
                                            <li class="dropdown-trigger"><a href="#">Magazine</a>
                                                <ul class="dropdown-content">
                                                    <li><a href="index.html">Magazine one</a></li>
                                                    <li><a href="index02.html">Magazine two</a></li>
                                                    <li><a href="index03.html">Magazine Three</a></li>
                                                    <li><a href="index04.html">Magazine four</a></li>
                                                    <li><a href="index05.html">Magazine five</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-trigger"><a href="#">Blog</a>
                                                <ul class="dropdown-content">
                                                    <li><a href="index06.html">Blog one</a></li>
                                                    <li><a href="index07.html">Blog two</a></li>
                                                    <li><a href="index08.html">Blog Three</a></li>
                                                    <li><a href="index09.html">Blog four</a></li>
                                                    <li><a href="index10.html">Blog five</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-trigger"><a href="#">Post Styles</a>
                                        <ul class="dropdown-content">
                                            <li><a href="category-standard.html">Standard Post</a></li>
                                            <li><a href="category-grid.html">Grid Post</a></li>
                                            <li><a href="category-list.html">List Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-trigger"><a href="#">Categories</a>
                                        <ul class="dropdown-content">
                                            <li><a href="category-grid.html">Business</a></li>
                                            <li><a href="category-list.html">Fashion</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-trigger"><a href="#">Features</a>
                                        <ul class="dropdown-content">
                                            <li><a href="#">Features</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-trigger"><a href="#">Pages</a>
                                        <ul class="dropdown-content">
                                            <li><a href="category-standard.html">Post standard</a></li>
                                            <li><a href="category-grid.html">Post Grid Two</a></li>
                                            <li><a href="category-list.html">Post list Three</a></li>
                                            <li><a href="post-details.html">Post details One</a></li>
                                            <li><a href="post-details-two.html">Post details Two</a></li>
                                            <li><a href="post-details-three.html">Post details Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav><!--/.menu-->
                        </div><!--~./ mainmenu-wrap ~-->
                        
                        <div class="header-navigation-right">
                            <div class="social-profile">
                                <ul class="social-share-two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!--~./ social-profile ~-->
                            
                            <div class="search-wrap">
                                <div class="search-btn">
                                    <img src="{{ asset('assets/images/icon/search.png') }}" alt="icon">
                                    <span>Search</span>
                                </div>
                                <div class="search-form">
                                    <form action="#">
                                        <input type="search" placeholder="Search">
                                        <button type="submit"><i class='fa fa-search'></i></button>
                                    </form>
                                </div>
                            </div><!--~./ search-wrap ~-->

                            <div class="sidebar-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div><!--~./ header-navigation-right ~-->
                    </div><!--~./ navigation-area ~-->
                </div>
            </div>
        </div>
    </div><!--~./ site-navigation ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Mobile Menu
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="mobile-menu">
        <a class="mobile-logo" href="index.html">
            <img src="{{ asset('assets/images/logo/logo-black.png') }}" alt="logo">
        </a>
    </div><!--~~./ end mobile menu ~~-->
</header>