<header class="site-header header-style-two header-style-five">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Site Navigation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="site-navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="navbar navbar-expand-lg navigation-area">
                        <div class="site-logo-block">
                            <a class="navbar-brand site-logo" href="index.html">
                                <img src="{{ asset('assets/images/logo/footer-logo-black.png') }}" alt="logo">
                            </a>  
                        </div><!--~./ site-logo-block ~-->
                        <div class="mainmenu-area">
                            <nav class="menu">
                                {% include 'header/menu.html.twig' %}
                            </nav><!--/.menu-->
                        </div><!--~./ mainmenu-wrap ~-->
                        
                        <div class="header-navigation-right">
                            <div class="social-profile">
                                <ul class="social-share-two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!--~./ social-profile ~-->
                            
                            <div class="search-wrap">
                                <div class="search-btn">
                                    <img src="{{ asset('assets/images/icon/search.png') }}" alt="icon">
                                    <span>Search</span>
                                </div>
                                <div class="search-form">
                                    <form action="#">
                                        <input type="search" placeholder="Search">
                                        <button type="submit"><i class='fa fa-search'></i></button>
                                    </form>
                                </div>
                            </div><!--~./ search-wrap ~-->

                            <div class="sidebar-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div><!--~./ header-navigation-right ~-->
                    </div><!--~./ navigation-area ~-->
                </div>
            </div>
        </div>
    </div><!--~./ site-navigation ~-->
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Mobile Menu
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="mobile-menu">
        <a class="mobile-logo" href="index.html">
            <img src="{{ asset('assets/images/logo/logo-black.png') }}" alt="logo">
        </a>
    </div><!--~~./ end mobile menu ~~-->
</header>