<ul class="main-navigation">
    {% for level0 in menuTree(menus, 0) %}

    {% if menuTree(menus,level0.id ) is not empty %}
        <li class="dropdown-trigger">
    {% else %}
        <li>
    {% endif %}    
            <a href="{{ level0.link }}">{{ level0.m_name }}</a>
            {% if menuTree(menus,level0.id ) is not empty %}
                <ul class="dropdown-content">
                    {% for level1 in menuTree(menus,level0.id ) %}
                            <li><a href="{{ level1.link }}">{{ level1.m_name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>