<footer class="site-footer footer-bolg-style-one ptb-100">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Footer Widget Area
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row justify-content-center">
                <!--~~~~~ Start Widget About us Widget ~~~~~--> 
                <div class="col-lg-5">
                    <aside class="widget bt-about-us-widget text-center">
                        <div class="widget-content">
                            <div class="about-logo">
                                <a href="index.html"><img src="{{ asset('assets/images/logo/footer-logo-black.png') }}" alt="Logo"></a>
                            </div>
                            <p>Sitting on a working-class comme dows of an easy above-ground rail line group called Make the Road New York's busy street</p>
                            <div class="social-profile">
                                <ul class="social-share-two">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div><!--~./ end about us widget ~-->
            </div>
        </div>
    </div>
    <!--~./ end footer widgets area ~-->
</footer>