<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <meta name="description" content="">
	  
	    <!-- Page Title -->
	    <title>{% block title %}Magalati - Magazine and Blog{% endblock %}</title>

	    {% block stylesheets %}
		    {% include 'assets/stylesheets.html.twig' %}
	    {% endblock %}
	</head>

    <body>
    	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% block body %}
        	{% block header %}{% endblock %}
        	{% block sidebarmenu %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
        	{% include 'assets/javascripts.html.twig' %}
        {% endblock %}
        
    </body>
</html>
